html {
  text-align: center;
  background-color: transparent;

  body {
    position: relative;
    width: 100vw;
    height: 4000px !important;
    background-color: transparent;

    main {
      h1 {
        font-size: 30px;
        font-family: "Arial";
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .container-image {
        margin: 2rem 0;

        img {
          opacity: 0;
        }

        p {
          margin: 1rem 0;
        }
      }
    }

    canvas {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
