html {
  text-align: center;
  background-color: transparent;

  body {
    position: relative;
    width: 100vw;
    height: 3000px;
    background-color: transparent;

    h1 {
      font-size: 30px;
      font-family: "Arial";
      width: fit-content;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .img {
      width: 300px;
      height: 400px;
      object-fit: cover;
      opacity: 0;
    }

    canvas {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }
}
